<app-header title="Employee List"></app-header>

@if(this.employees.length) {
    <div class="employees-list">
    @for(employee of employees; track employee){
        <mat-card appearance="outlined" (click)="onEdit(employee)">
            <mat-card-header> {{ employee.name }}</mat-card-header>
            <mat-card-content> {{ employee.role }}
                <br/>
                {{employee.fromDate | date: 'd MMM, y'}}
            </mat-card-content>
          </mat-card>
    }
    
</div>
<div class="add-button">
    <button mat-fab aria-label="Add employee" (click)="addEmployee()">
        <mat-icon>add</mat-icon>
    </button>
</div>
}
@else {
    <div class="no-records">
        <img class="no-records-img" src="assets/no-records.svg"/>
        <div class="add-button">
            <button mat-fab aria-label="Add employee" (click)="addEmployee()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
}

